input, button {
  font-size: 20px;
  padding: 5px;
}

input {
  width: 510px;
}

#add_profile, .error-container, .profile-container {
  width: 40%;
  margin: 0 auto;
}

#add_profile {
  padding: 0 0 20px 0;
  margin-bottom: 30px
}

.profile {
  background: #36459a;
  width: 100%;
  padding: 0;
  font-family: Helvetica Neue;
  border-radius: 15px;
  color: #fff;
  display: none;
}

.profile a {
  color: #fff;
}

.profile .avatar {
  width: 110px;
  float: left;
  margin: 20px;
}

.profile .details {
  width: 420px;
  float: left;
  padding: 0 20px;
  margin: 20px 20px 20px 0;
}

.profile .details h3 {
  margin-top: 0;
}

.profile img {
  width: 100%;
}

.close {
  float: right;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 20px;
  transition: all 1s;
}

.close:hover{
  background: #ffffff;
  color: #606c88;
}

h3 {
  text-transform: uppercase;
}

h3 a {
  text-decoration: none;
}

#add_profile input {
  width: 60%;
  float: left;
  border: 1px solid #36459a;
  border-radius: 10px 0 0 10px;
  padding: 20px;
  margin-bottom: 20px;

}

#add_profile button {
  width: 40%;
  float: left;
  margin-bottom: 20px;
  border: 1px solid #36459a;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  background: #36459a;
  transition: all 1s;
  color: #ffffff;
  text-transform: uppercase;
}

#add_profile button:hover {
  background: #5168c0;
}

.error-container {
  background: #36459a;
  width: 40%;
  padding: 0;
  font-family: Helvetica Neue;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 20px;
  clear: both;
}

.error-container p{
  margin: 20px;
}
